
#inboxthread{
height: 100%;
border-right: 1px solid #d8e1ea;
float: left;
background: #fff;
overflow: hidden;

}
#threadmenu{
	height: 20%;
}
#threadslist{
	height: 80%;
	overflow: auto;
	min-width: 280px;
	padding: 0px;
}
#inboxbody,.inboxbody,.custombg{
height: 100%;
float: left;
background: #f3f5f6;
}
.thread_card{
	width: 100%;
	height: 68px;
	border-bottom:1px solid #ccc;
	margin-bottom: 4px;
	padding:3px 3px 6px 0px;
	cursor: pointer;

}
.threadhead{
border: 2px solid #dbe0e3;
height: 100%;
min-width: 50px;
border-radius: 50%;
max-height: 50px !important;
}
.threadbody{

}

.usernamelbl{
width: 70%;
text-align: left;
padding-left:4px; 
}

.threadtitles{
	width: 100%;
float: left;
padding: 5px 0px 0px 0px ;

}
.msgcounter{
	position: absolute;
margin: 24px 5px 0px -4px;
border: 1px solid #90c885;
padding: 1px 3px;
font-size: 10px;
border-radius: 10px;
color: green;

}
.threadmesage{
	font-size: 11px;
float: left;
width: 100%;
height: 30px;
overflow: hidden;
color: #737781;
padding: 0px 5px;
}
.newmsg{
background: #e2d1ff;
}
.readmsg{
	background: #fff;
}

#chatboxhead{
	height: 10%;
	background: #fff;
	border-bottom: 1px solid #d8e1ea;
	padding: 5px;
	min-height: 40px;
}

#chatboxbody{
height: 80%;
overflow: auto;
}

#chatboxfoot{
height: 10%;
background: #fff;
border-bottom: 1px solid #d8e1ea;
min-height: 60px;
}
#close_chatbtn{
font-size: 18px;
}
#chatboxheadpic{
	min-height: 50px;
	min-width: 50px;
}
.messageinput{
height: 100%;
float: left;
border: 1px solid #d8e1ea;
background: #fcfdfe;
padding: 10px;
}
.sendbtn{
float: left;
font-size: 30px;
color: #9abd61;
}
.chat{
border: none;
min-height: 40px;
margin: 10px auto;
border-radius: 5px;
background: #fff;
box-shadow: 0px 1px 5px -5px #0b0b0b;
padding: 5px;
 min-width: 55%;
}
.inchat{
 float: left;
}
.outchat{
 float: right;
 background: #e2d1ff;
}
.chathead{
 height: 18px;
 overflow: hidden;
}
.chatname{
font-weight: bold;
}
.chatmessage{
 font-size:12px;
 color: #514e4e;
}
.sendstatuslbl{
width: auto;
height: auto;
background:transparent;
position: absolute;
right: 16px;
margin-top: 23px;
}
.sendstatuslbl img{
width: 10px;
height: 10px;
float: left;
border: 1px solid #fff;
border-radius:50%: 
}
.msgstatusbar{
 border: 1px solid #ccc;
 height: 100%;
}
.msgstatusbarhead{
border-left: 3px solid green;
width: 80px;
height: 100%;
background: #b9d4ac;

}
.msgstatusbarbody{
text-align: center;
}
.msgstatusbarbody strong{
	font-size: 17px;
padding: 7px;
float: left;
text-align: center;
width: 100%;
color: green;

}
.msgstatusbarbody span{
font-size: 11px;
padding: 5px;
border: 1px solid #cbe6c2;

}

	.contact_list_btn{
  text-align: center;
	}
	.contact_list_btn i{
font-size: 18px;
color: #fff;

	}
	.contact_list_btn div{
		font-size: 10px;
color: #fff;
font-weight: bold;

	}
	.contact_list_search_input{
	border: 1px solid #ccc;
	width: 100%;
	float: left;
	border-radius: 5px;
	padding: 5px;
}
.contact_head{
	min-height: 30px;
	min-width: 30px;
	border-radius: 50%;
	float: left;
}
.contact_badge{
background: #fff;
color: #999;
box-shadow: 0px 2px 6px -7px #000000e6;
padding: 8px;
border: 1px solid #d1e1ec;

}
.contact_name{
	float: left;
width: 67px;
overflow: hidden;

}
.contact_name span{
	font-size: 9px;
	color: #dbd6a4;

}
.cont_btns{
color:#999;
padding: 6px 7px;
}

.distr_header{
	background: #fff;
	padding: 5px;
	text-align: center;
	height: 37px;
	box-shadow: 0px 2px 6px -5px #000000e6;
	z-index: 10;
}
#composesmsbox{
	 height:300px;
}
.compose_wrap{
	height:92%; overflow:auto;
	}
.compose_wrap div{
	padding: 5px;
	float: left;

}
.distribution_wrap{
	background: #fff;
border: 1px solid #ceecef;
padding: 10px !important;
border-radius: 4px;

}
.distribution_head{
float: left;
width: 100%;
}
.distr_heading{
font-size: 14px;
font-weight: bold;
width: 100%;
color: #3b5169;
padding: 0px !important;
margin: 0px;

}
.distr_metas{
border-bottom: 1px solid #ededed;
padding: 0px !important;
margin-bottom: 4px;
float: left;
width: 100%;
}
.distr_metas b{
	color: #bfbbb4;
	font-size: 11px;
}
.distribution_body{
color: #555;
width: 100%;
font-size: 12px;

}
.pageboxview_lbl{
	float: left;
	width: 100%;
}
.pageboxview_lbl i{
	float: right;
}
@media all and (max-width:768px){
	#composesmsbox{
		 height: 250px;
	}
}
@media all and (max-width:768px){
#threadmenu{
	height: 24%;
}
#threadslist{
    height: 76%;
min-width: 100%;
}
}
 
.not_sent_err i{
		color: red;
position: absolute;
right: 16px;
bottom: 9px;
font-size: 10px;
	}
.sent_success_err{
color: green;
position: absolute;
right: 16px;
bottom: 9px;
font-size: 10px;

	}